{
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "importSorter.generalConfiguration.sortOnBeforeSave": true,
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "tailwindCSS.emmetCompletions": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "arrowParens": "always",
  "cSpell.words": ["APRD"]
}
